<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base::layout(~{::section})}">
<head>
    <title>Welcome Page</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			
					<div class="row">
						
						<div class="col-md-10 offset-md-1">
							<div class="card bg-light">
								<th:block th:if="${user.role=='ROLE_ADMIN'}">
									<a href="/admin/" class="text-decoration-none"><i class="fa-solid fa-backward"></i> Back </a>
								</th:block>
								
								<th:block th:unless="${user.role=='ROLE_ADMIN'}">
									<a href="/" class="text-decoration-none"><i class="fa-solid fa-backward"></i> Back </a>
								</th:block>
								
								
								<div class="card-body">
									<div class="row">
									<div class="col mt-5">
									<p class="fs-3 text-center fw-bold"> My Profile </p>
									</div>
									<div class="text-center col">
										
									<img alt="Profile_Image" th:src="${user.profileImage}" class="border p-2"
									 style="width: 230px; height: 250px; border-radius: 50%;">
									 
									 </div>
									 </div>
									 <div class="col-md-8 offset-md-2 mt-4">
										
									 <table class="table table-borderless">
									 
									   <tbody>
									     <tr>
											
									       <th scope="row"> Name </th>
										   <td>:</td>
									       <td class="fw-bold text-primary">[[${user.fullName}]]</td>
										   
									     </tr>
										 
										 <tr>

										   <th scope="row"> Email </th>
										   <td>:</td>
										   <td class="fw-bold text-primary">[[${user.email}]]</td>
										   
										 </tr>
										 
										 <tr>

										   <th scope="row"> Mobile Number </th>
										   <td>:</td>
										   <td class="fw-bold text-primary">[[${user.mobileNumber}]]</td>
										   
										 </tr>
										 
										 <tr>

										   <th scope="row"> Address </th>
										   <td>:</td>
										   <td class="fw-bold text-primary">[[${user.address}]]</td>
										   
										 </tr>
										 
										 <tr>

										   <th scope="row"> State </th>
										   <td>:</td>
										   <td class="fw-bold text-primary">[[${user.state}]]</td>
										   
										 </tr>
										 
										 <tr>

										   <th scope="row"> City </th>
										   <td>:</td>
										   <td class="fw-bold text-primary">[[${user.city} +${" , "}+ ${user.pincode}]] </td>
										   
										 </tr>
										 
										 <tr>

										   <th scope="row"> Role </th>
										   <td>:</td>
										   <td class="fw-bold text-primary">[[${user.role}]] </td>
										   
										 </tr>
										 
										 <tr>

										   <th scope="row"></th>
										   <td> <a href="/user/edit-profile" class="btn btn-success"> Edit Profile </a></td>
										   <td></td>
										   
										 </tr>
										 
						
									   </tbody>
									 </table>
									 
									 </div>
									 
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
	</section>
    
</body>
</html>